@model List<GameModel>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="overlay" class="overlay" onclick="closeZoom()"></div>
    <div class="game-grid">
        @foreach (var game in Model)
        {
            <div id="game-@game.Id" class="game-card" onclick="zoomCard(this)">
                <img src="@game.Thumbnail" alt="@game.Title" class="game-thumbnail">
                <div class="game-details">
                    <h2>@game.Title</h2>
                    <p>@game.ShortDescription</p>
                    <p><strong>Genre:</strong> @game.Genre</p>
                    <p><strong>Platform:</strong> @game.Platform</p>
                    <p><strong>Publisher:</strong> @game.Publisher</p>
                    <p><strong>Developer:</strong> @game.Developer</p>
                    <a href="@game.game_url" target="_blank">Download</a>
                </div>
            </div>
        }
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
